.tab{
    margin-left: 4em;
}
#name{
padding-left: 17px;
background-color:midnightblue;
 font-size: 25;
    height: 100px;
    text-align: left;
    padding-top: 20px;
           }
#namedown{
background-color:midnightblue;
    font-size: 7px;
    font-size-adjust: auto;
         height: 100%px;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-left: 50px;
    font-weight: 300;
    color: white;
    line-height: inherit;
     columns: auto 2;
    color: white;
    margin-top: -15;
  text-align:justify;
    margin-top: 20px;
      float:none;
    display:flex;
   justify-content:flex-start;
   flex-direction: column;
        
}
.namedown1{
background-color:darkblue;
 font-size: 12;
    height: 100px;
    margin-top: 0px;
    color: white;
    text-align: center;
    padding-bottom: 2px;
clear: both;
 margin-bottom: auto;  
    columns: auto 1;
    display:block;
      margin-top: -20px;
    
           }
.us{
    padding-right: 200px;
    font-size: 20;
    text-align: right;
    margin-top: 0px;
    overflow: visible;
    position: relative;
  justify-content:space-around;
    
    
}
#name1{
    background-color:royalblue;
    margin-top:  -18px;
}
.name2{
     padding-left: 25px;
    font-size: 30;
    padding-top:15;
    border: 12px;
    color:darkblue;
    position:absolute;
    padding-bottom: 15px;
    text-align: center;
    }
.name2-contact{
     padding-left: 30px;
    font-size: 25px;
    padding-top: 10;
    border: 20px;
    color:darkslateblue;
     float:left;
    position:relative;
    
    
   text-align: justify;
    
    
            }
.name2-quote{
        font-size: 20;
    padding-bottom: 20;
       }
#name3{
     padding-left: 25px;
    font-size: 30;
    padding-top: 50;
    border: 12px;
    color:darkblue;
    }
body{
    background-color:white;
  
    
}
.clients {
  background-color:royalblue;
  color:white;
  padding: 20px;
  font-size: 14px;
  border: none;
}
.drop {
  position:static;
  display: inline-block;
  border-image-width: auto;
  padding-left: 12px;
}
.c {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
}
.c a {
  color:cornflowerblue;
  padding: 12px 12px;
  border-width:thin;
  text-decoration: none;
  display: block;
  border-bottom-style:solid;
}
.c a:hover {background-color:aliceblue;}
.drop:hover .c {display: block;}
.drop:hover .clients {background-color:cornflowerblue;}
input[type=text]{
    width: 70%;
    height: 35;
   box-sizing: border-box;
    margin-bottom: 8px, 0;
    border: 2px solid #f2f2f2;
    
}

.box {
    background-color:cadetblue;
    color: white;
    border-radius: 30px;  
    padding: 5%;
    align-items: center;
    text-align: center;
     column-count: 2;
      width:50%;
          
            }

.box2{
    background-color:midnightblue;
    color: white;
    border-radius: 30px;
    padding-left: 30px;
   width: 15%;
    height: 75%;
     text-align: center;
    margin-bottom:inherit;
     justify-content:space-around;
     padding: 20px;
    border-radius: 30px;
    font-size: 22x;
    font-weight: 200;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    clear: both;
    float: right;
    
}

@media screen and (max-width: 600px) {
  .box, .box2 {
    width: 100%;
  }
}

.box1 {
    background-color:royalblue;
    color: white;
    padding: 70px;
    border-radius: 30px;
    padding-left: 30px;
   width: 200px;
    float: right;
text-align:start;
     justify-content:space-around;
 display:flex;
    padding: 5px;
    border-radius: 30px;
      text-align: center;
    margin-bottom:inherit;
    
 }
.box1:after {
  content: "";
  display: table;
  clear: both;
}

.zip{
    float:right;

}


 label{
    padding: 10px 10px 10px 0;
    display: inline-block;
     cursor: default;
     font-size: 20px;
         padding-left: 5%;
     float: left;
clear: both;
}
.r:after{
    content:"";
    display: table;
    clear: both;
}    
.cc{
    width:15%;
    margin-top: auto;
    float:none;
    clear: both;
    
}
.c1{
    width: 75%;
    float:none;
     margin-top: 0px;
    clear: both;
}
.button {
  background-color: #f2f2f2;
  color: darkblue;
  padding: 15px 20px;
  text-align: center;
 font-size: 12px;
}
