.tab{
    margin-left: 4em;
}
#name{
padding-left: 17px;
background-color:darkslateblue;
 font-size: 25;
           }
#namedown{
padding-left: 17px;
background-color:midnightblue;
 font-size: 12;
    height: 250px;
    margin-bottom: 0px;
    padding-left: 30px;
    font-weight: 300;
     
           }
.namedown1{
background-color:darkblue;
 font-size: 12;
    height: 80px;
    margin-top: 0px;
    color: white;
    text-align: center;
    padding-bottom: 2px;
           }
.us{
    text-align: right;
    padding-right: 200px;
    font-size: 20;
    
}
#name1{
    background-color:royalblue;
}
#name2{
     padding-left: 25px;
    font-size: 30;
    padding-top: 50;
    border: 12px;
    color:darkblue;
    }
.name2-contact{
     padding-left: 30px;
    font-size: 25;
    padding-top: 100;
    border: 20px;
    color:darkslateblue;
    text-align:center;
        }
.name2-quote{
     padding-right: 40px;
    font-size: 20;
    padding-top: 50;
    border: 20px;
    text-align: right;
    text-align: center;
}
#name3{
     padding-left: 25px;
    font-size: 30;
    padding-top: 50;
    border: 12px;
    color:darkblue;
    }
body{
    background-color:white;
    
}
.clients {
  background-color:royalblue;
  color:white;
  padding: 20px;
  font-size: 14px;
  border: none;
}
.drop {
  position:static;
  display: inline-block;
  border-image-width: auto;
  padding-left: 12px;
}
.c {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
}
.c a {
  color:cornflowerblue;
  padding: 12px 12px;
  border-width:thin;
  text-decoration: none;
  display: block;
  border-bottom-style:solid;
}
.c a:hover {background-color:aliceblue;}
.drop:hover .c {display: block;}
.drop:hover .clients {background-color:cornflowerblue;}
input[type=text]{
    width: 70%;
    height: 35;
   box-sizing: border-box;
    margin-bottom: 8px, 0;
    border: 2px solid #f2f2f2;
    
}
.box {
    background-color:cadetblue;
    color: white;
    padding: 70px;
    border-radius: 30px;
    padding-left: 30px;
   width: 500px;
    }
.box1 {
    background-color:cadetblue;
    color: white;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
   width: 200px;
    float: right;
text-align:start;
     justify-content:space-around;
 display:flex;
    padding: 5px;
    border-radius: 30px;
    
 }
.box2 {
    background-color:cadetblue;
    color: white;
    padding: 70px;
    border-radius: 30px;
    padding-left: 30px;
   width: 200px;
    float: right;
text-align:start;
     justify-content:space-around;
 display:flex;
    padding: 5px;
    border-radius: 30px;
    
    }
.zip{
    float:right;

}
box > div{
    background-color: #f2f2f2;
    padding: 70px;
    border-radius: 30px;
    padding-left: 30px;
   width: 500px;
    justify-content: center;
 display:flex;
    
  justify-content: center;
}

 label{
    padding: 15px 15px 15px 0;
    display: inline-block;
     cursor: default;
     font-size: 20px;
     position: relative;
          

}
.r:after{
    content:"";
    display: table;
    clear: both;
}    
.cc{
    width:25%;
    float: left;
    margin-top: 10px;
    
}
.c1{
    width: 75%;
    float:right;
     margin-top: 10px;
}
.button {
  background-color: #f2f2f2;
  color: darkblue;
  padding: 15px 20px;
  text-align: center;
 font-size: 12px;
}
